<div data-role="header">
	<h1>Editing list</h1>
</div>

<div data-role="content">
	<%= render 'form' %>
</div>

<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
        <ul>
            <li><%= link_to 'Show', @list %> </li>
            <li><%= link_to 'Back', lists_path %></li>
        </ul>
    </div>
</div>
