<div data-role="header" data-theme="b">
	<h1>Editing list</h1>
</div>

<div data-role="content">
	<%= render 'form' %>

</div>


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
        <ul>
            <li><%= link_to 'Show', @list, "data-transition" => "slide" %> </li>
            <li><%= link_to 'Back', lists_path, "data-rel" => "back" %></li>
        </ul>
    </div>
</div>
