<div data-role="header">
	<h1>Editing list</h1>
</div>

<div data-role="content">
	<%= render 'form' %>
</div>

<div data-role="footer" data-position="fixed">
	<h3>
		<%= link_to 'Show', @list %> |
		<%= link_to 'Back', lists_path %>
	</h3>
</div>
