<div data-role="header" data-position="fixed" data-theme="b">
	<h1>New list</h1>
	<%= link_to "Logout", destroy_user_session_path, method: :delete, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true"  %>
</div>
<div data-role="content">
	<%= render 'form' %>
</div>
<div data-role="footer" data-theme='b' data-position="fixed">
	<%= link_to 'Back', lists_path, "data-rel" => "back" %>
</div>
