<div data-role="header" data-position="fixed" data-theme="b">
	<h1>Mylist</h1>
	<%= link_to "Logout", destroy_user_session_path, method: :delete, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true"  %>
</div>

<%= link_to 'View Mylists', lists_path, "data-role" => "button", "data-transition" => "flip", 'data-icon' => "arrow-r", 'data-theme' => 'b', 'data-iconpos' => "right" %>
<%= link_to 'Edit Profile', edit_user_registration_path, "data-role" => "button", "data-transition" => "flip", 'data-icon' => "arrow-r", 'data-theme' => 'b', 'data-iconpos' => "right" %>


<div data-role="footer" data-theme='b' data-position="fixed">
	<center><%= link_to "Back", :back, "data-transition" => "slide", "data-role" => "button", "data-inline" => "true" %></center>
</div>