<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Mylist</h1>
</div>

<div data-role="content">
	<h2>Copyright Information</h2>

	<p>This app was developed by Dillon Lara and is currently only used for educational purposes while enrolled at Full Sail University.  This code was created by Dillon Lara.</p>

</div>

<div data-role="footer" data-theme='b' data-position="fixed">
	<center><%= link_to 'Back', lists_path, "data-rel" => "back", "data-transition" => "slide", "data-role" => "button", "data-inline" => "true" %></center>
</div>